.wrapper {
  font-family: var(--new-font);
  background-color: #eddada;
  padding: clamp(0rem, -12.436rem + 30.61vw, 9.375rem) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark mode */

.wrapperDark {
  background-color: var(--dark);
}
