.wrapper {
  display: flex;
  gap: clamp(1.5rem, 1.11rem + 1.95vw, 2.5rem);
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
}
.link {
  color: var(--black);
}

.active {
  color: var(--green);
}
