.wrap {
  position: relative;
  margin-bottom: 15px;
}
.prcnt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--black);
}
