.wrapper {
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: left;
}
.wrapper img {
  width: 30px;
}
h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 136%;
  color: var(--black);
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: var(--black);
}

/* Dark mode */

.wrapperDark {
  background-color: var(--moreDark);
  color: var(--lightDark);
}
.dark {
  color: var(--lightDark);
}
